<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
<h2>Confirm deletion of estimate</h2>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="text-muted pull-right"></div>
  <div class="panel-body">
ID:
<%=  coating._id %>
  <br> Name:
  <%=coating.name%>
    <br/> location:
    <%=coating.location%>
      <br/> squareFeet (Feets):
      <%=coating.squareFeet%>
        <br/>
        <br/>
        <% for (let j = 0; j < coating.materials.length; j++) { material = coating.materials[j]; %>
          <div> Name:
            <%=material.product%>
              <br/> Location:
              <%=material.unitcost%>
                <br/> coverageSquareFeetPerUnit (Feets):
                <%=material.coverageSquareFeetPerUnit%> Feets
                  <br/>
                  <br/>
          </div>
          <% } %>
  </div>
</div>
            <form method="get" action="/coating">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>

            <br/>
            <form method="POST" action="/coating/delete/<%= coating._id %>">
              <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
            </form>
    </div>
  </div>
</div>