<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
<h2>Estimate Details</h2>
<div class="panel panel-default">
  <div class="panel-heading"></div>
  <div class="text-muted pull-right"></div>
  <div class="panel-body" style="color:black">
ID:
<%=  coating._id %>
  <br> Name:
  <%=coating.name%>
    <br/> Location:
    <%=coating.location%>
      <br/> SquareFeet :
      <%=coating.squarefeet%>
        <br/>
        <br/>
        <% for (let j = 0; j < coating.materials.length; j++) { material = coating.materials[j]; %>
          <div>Material name:
            <%=material.product%>
              <br/> Unit Cost:
              <%=material.unitcost%>
                <br/> CoverageSquareFeetPerUnit:
                <%=material.coverageSquareFeetPerUnit%> 
                  <br/>
                  <br/>
          </div>
          <% } %>
          <br/>
          Num Days:
          <%=  coating.numberOfDays %>
          <br>Hrs/Day:
          <%=  coating.hoursWorkedPerDay %>
          <br>Labor $/Hr:
          <%=  coating.laborDollarsPerHour %>
          <br>Num Rooms:
          <%=  coating.numberHotelRooms %>
          <br>Num nights:
          <%=  coating.numberHotelNights %>
          <br>Hotel $/night:
          <%=  coating.hotelDollarsPerNight %>
          <br>Food $/day:
          <%=  coating.foodDollarsPerDay %>
          <br>Num Vehicles:
          <%=  coating.numberOfVehicles %>
          <br>Miles/vehicle:
          <%=  coating.milesPerVehicle %>
          <br>$/mile:
          <%=  coating.dollarsPerMile %>
          <br/>
          <br/>
          <% for (let j = 0; j < coating.miscellaneous.length; j++) { miscellaneous = coating.miscellaneous[j]; %>
            <div class="arrayItem">
              <%= miscellaneous.name %>
                = $ 
                <%= miscellaneous.cost %>
            </div>
            <% } %>
            <!-- <br>total cost:
          <%=  coating.estimateCost %> -->
  </div>
</div>
            <br/>
            <br/>
            <form method="get" action="/coating">
              <input type="submit" value="Return to list" class="btn btn-caution" />
            </form>
  </div>
</div>
</div>