<br/>
<br/>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <a href="coating/create" class="btn btn-primary new">
        Create a new estimate
      </a>
      <h2>Recent estimate entries</h2>
      <p>There are
        <%= coatings.query.length %> estimates.
          <br/>
      </p>
      <% for (var i = coatings.query.length-1; i >= 0; i--) {   coating = coatings.query[i];   %>
        <div class="panel panel-default">
          <div class="panel-heading"></div>
          <div class="text-muted pull-right"></div>
          <div class="panel-body">
            ID:
            <%=  coating._id %>
              <br> Name:
              <%=coating.name%>
                <br/> location:
                <%=coating.location%>
                  <br/> squareFeet (years):
                  <%=coating.squareFeet%>
                    <br/>
                    <br/>
                    <%=coating.materials.length%> materials
                      <% for (let j = 0; j < coating.materials.length; j++) { material = coating.materials[j]; %>
                        <div class="arrayItem"> Name:
                          <%= material.name %>
                            <br/>location:
                            <%= material.unitcost %>
                              <br/>squareFeet:
                              <%= material.coversquareFeetSquareFeetPerUnit %>
                        </div>
                        <br/>
                        <% } %>
                          <br/>
                          Num Days:
                          <%=  coating.numberOfDays %>
                          <br>Hrs/Day:
                          <%=  coating.hoursWorkedPerDay %>
                          <br>Labor $/Hr:
                          <%=  coating.laborDollarsPerHour %>
                          <br>Num Rooms:
                          <%=  coating.numberHotelRooms %>
                          <br>Num nights:
                          <%=  coating.numberHotelNights %>
                          <br>Hotel $/night:
                          <%=  coating.hotelDollarsPerNight %>
                          <br>Food $/day:
                          <%=  coating.foodDollarsPerDay %>
                          <br>Num Vehicles:
                          <%=  coating.numberOfVehicles %>
                          <br>Miles/vehicle:
                          <%=  coating.milesPerVehicle %>
                          <br>$/mile:
                          <%=  coating.dollarsPerMile %>
                          <br/>
                          <br/>
                          <% for (let j = 0; j < coating.miscellaneous.length; j++) { miscellaneous = coating.miscellaneous[j]; %>
                            <div class="arrayItem">
                              <%= miscellaneous.name %>
                                = $ 
                                <%= miscellaneous.cost %>
                            </div>
                            <% } %>
                          <a href="/coating/delete/<%= coating._id  %>" class="btn btn-danger"> Delete </a>
                          <a href="/coating/details/<%= coating._id %>" class="btn btn-info"> Details </a>
                          <a href="/coating/edit/<%= coating._id %>" class="btn btn-warning"> Edit </a>
          </div>
        </div>
        <% } %>

    </div>
  </div>
</div>