<br/>
<br/>

            <a href="create" class="btn btn-danger new">
                return to
                create
            </a>
            <h2>Recent Estimates</h2>
            <p>There are
                <%= coatings.query.length %> coating.
                    <br/>
            </p>
            <div class="container-fluid">
                <div class="row">
                        
            <% for (var i = coatings.query.length-1; i >= 0; i--) {   coating = coatings.query[i]; %>
                
                <div class="col">
                
                        ID:
                        <%=  coating._id %>
                            <br> Name:
                            <%=coating.name%>
                                <br/> Location:
                                <%=coating.location%>
                                    <br/> SqFt:
                                    <%=coating.squareFeet%>
                                        <br/>
                                        
                                                
                                                <a href="/coating/copyfrom/<%= coatings._id  %>" class="btn btn-success"> Select </a>
                                                <br>
                                                <br>
                                            </div>        
                  
                <% } %>
            
            
            </div>
        </div>

        